name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          user: Uonlra
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics-isocalendar.svg
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
